# Dolby Vision Display Management Configuration File
# Path : ./odm/etc/dolby_vision.cfg
# Date : 09/25/2024
# Display : 
# Brand Model Number: Xiaomi O82

#Configuration Start
[Display]
ID = 0
Width = 1220
Height = 2712

[Global]
ReferenceDarkPicModeIndex = 2
IDK_Version = SW_4.5.2
DMSwVersion = 4.0
DeviceModelName = NULL
DefaultOutputFormat = YUV

Tmax = 730
Tmin = 0.1
TPrimaries = 0.7080 0.2920 0.1700 0.7970 0.1310 0.0469 0.296 0.310
TEOTF = POWER
Tgamma = 2.23


BLUPwm = 40	72	100	154	255
BLULight = 193	350	486	642	730
BLULightMin = 0.1 0.1 0.1 0.1 0.1
Ambient = 3
TSurroundReflection = 0.5
TScreenReflection = 0.0005
ALDelayMilliSec = 50
ALResponseFall = 0.004
ALResponseRise = 0.02
ALOperationalRate = 50
TFrontLux = 276
TFrontLuxScale = 1

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3

[PictureMode = 2]
PictureModeName = Dolby Vision Dark
SupportsDM3 = 1
Ambient = 0
#Configuration End
